.title {
  font-size: 5rem;
}

.tile {
  border: 5px solid rgb(3, 158, 3) ;
  background-color: rgb(224, 251, 245);
  width: 100px;
  height: 100px;
  
}


.content{
  padding-left: 0;
  font-size: inherit;
  margin-top: 22px;
  text-align: center;

}

.board {

  border: 5px solid rgb(3, 158, 3) ;
  margin: auto;
  width: 410px;
  height: 410px;
  border-radius: 10px;
}
