input {
  height: 50px;
  width: 80px;
  font-size: 2rem;
  padding-left: 10px;
}


.title {
  font-size: 5rem;
}

.tile {
  border: 5px solid rgb(3, 158, 3) ;
  background-color: rgb(224, 251, 245);
  width: 100px;
  height: 100px;
  
}


.content{
  padding-left: 0;
  font-size: inherit;
  /* margin-top: 22px; */
  text-align: center;

}



.board {

  border: 5px solid rgb(3, 158, 3) ;
  margin: auto;
  margin-bottom: 2rem;
  border-radius: 10px;
}
